extends layout

block head 
    link(rel="stylesheet", href="/article.css")
    script(src="/script.js")
    

block content 
    section.article
        h1= article.title

        img(src="/uploads/" + article.image, alt="Статья").image

        article.article-content!= markdown
        div.feedback
            span(data-article=article.id).dislike
                //img(src="/ellipse-rose.svg", alt="Эллипс розовый")
                img(src="/like.svg", alt="Не нравится")
                span= article.dislikes_count
            span(data-article=article.id).like
                //img(src="/ellipse-green.svg", alt="Эллипс зеленый")
                img(src="/like.svg", alt="Нравится")
                span= article.likes_count

        if isAdmin
            div.admin-btn
                a(class="link-edit",href="/articles/edit/" + article.id) Редактировать статью
                a(class="link-delete",href="/articles/delete/" + article.id) Удалить статью

        div.input-comment
            if userId
                form(action="/comments", method="post")
                    textarea(name="content", cols="30", rows="10",class="comment-textarea")
                    input(name="articleId", value=article.id, type="hidden")
                    button Добавить
        each comment in article.Comments
            div.user-comment
                div.user-photo
                    img(src="/user.png", alt="Фотография пользователя")
                div.user-data
                    div#username
                        span= comment.user.name
                    div#article-comment
                        p= comment.content